.presentacion {
    color: white;
}

.divPresentacion {
    text-align: center;
    margin-top: 2vw;
}

.opacity_0 {
    opacity: 0;
}

.textShadowLg {
    text-shadow: rgb(255, 255, 255, 0.95) 1px 0 27px;
}

.textShadowSm {
    text-shadow: rgb(255, 255, 255, 0.5) 1px 0 8px;
}

.scroll {
    overflow-y: hidden;
}

.imagen {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 1.5s ease-in-out;
    filter: grayscale(80%);
}

.imagen:hover {
    transition: all .5s ease-in-out;
    filter: grayscale(0%);
}

.imgDiv {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 60px;
    -webkit-box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.5);
    transition: all 1.5s ease-in-out;
}

.imgDiv:hover {
    transition: all .5s ease-in-out;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.45);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.45);
}

.esconder {
    height: 0%;
}

.incons {
    margin-top: 40px;
    width: 100%;
}

.incons svg {
    fill: white;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.incons svg:last-child {
    margin-right: 0;
}

.letra {
    transition: all 1.7s ease-in-out;
    cursor: none;
}

.h {
    opacity: 0;
}

.s {
    opacity: 1;
}

.hoverLetra:hover {
    transition: all .01s ease-in-out;
    opacity: .05;
}

hr {
    color: rgb(255, 255, 255);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}