<div *ngIf="select == 1 || retraso == 1" class="contendor">
    <h1 class="titulo" [ngClass]="{'txtShadowBlancoSm': iliminacion}">Portafolio de desarrollo Web</h1>
    <hr class="hr1 hrcenter">
    <p class="textoP" [ngClass]="{'txtShadowBlancoSm': iliminacion}">
        ¡Bienvenido a mi Portafolio Web! Aquí encontrarás una variedad de proyectos en los que
        he trabajado, destacando mis habilidades en el desarrollo Frontend con lenguajes como HTML5, CSS, JavaScript y
        TypeScript. He utilizado Frameworks populares como Vue.js, React, Angular y BootStrap, así como diversas librerías de
        CSS y JavaScript para crear experiencias interactivas y atractivas. <br>
        Además, también podrás explorar proyectos en los que me he trabajado en el desarrollo backend utilizando los
        lenguajes de PHP y SQL. En estos casos, he empleado el Framework de Laravel para construir aplicaciones
        sólidas y funcionales.
    </p>
    <hr>

    <div class="filter-tecnology" [ngStyle]="{'opacity': proyectoSelect === 0 ? '1' : '0'}">
        <div class="d-block">
            <select (change)="changeFilter()" [(ngModel)]="filter" class="form-select">
                <option value="">Filtrar</option>
                <option value="JavaScript">JavaScript</option>
                <option value="TypeScript">TypeScript</option>
                <option value="HTML5">HTML5</option>
                <option value="CSS3">CSS3</option>
                <option value="PHP">PHP</option>
                <option value="SQL">SQL</option>
                <option value="Laravel">Laravel</option>
                <option value="Angular">Angular</option>
                <option value="Vue 3">Vue 3</option>
                <option value="Angular">Angular</option>
                <option value="JSX">JSX</option>
                <option value="React">React</option>
                <option value="API">API</option>
            </select>
        </div>
    </div>

    <div class="proyectos row row-cols-2 row-cols-lg-2"
        [ngClass]="{'inMas': proyectoSelect == 0, 'outMas': proyectoSelect != 0}">
        <!-- Terminar estos filtros y subir los cambios al servidor de proyecto administrador de products hub -->

        <div *ngFor="let project of projectsFilter" class="proyecto col" data-aos="fade-up">
            <img [src]="project.img" class="imagenProyecto" alt="">

            <section [ngClass]="{'abajo': !animaciones, 'proyecto-mas': animaciones}">
                <img [src]="project.img" class="imagenBN" alt="">
            </section>

            <section [ngClass]="{'abajo': !animaciones, 'lenguajes hoverCursor': animaciones}">
                <h1 class="tituloProyecto">{{ project.title }}</h1>

                <div class="botones">
                    <div class="d-flex justify-content-center tr"
                        *ngFor="let technology of project.technologiesProfolie">
                        <a class="btn" *ngFor="let item of technology"><span class="hoverCursor">{{ item
                                }}</span></a>
                    </div>
                </div>
                <div class="mas-proyecto">
                    <a class="btn" (click)="verProyecto(project.showNumber, project.title)"><span
                            class="hoverCursor">Mas...</span></a>
                </div>
                <div class="link-proyecto">
                    <a [href]="project.link" (click)="enterUrlProject(project.title)" target="_blank" class="btn"><span
                            class="hoverCursor">Visitar</span></a>
                </div>
            </section>
        </div>
    </div>

    <div *ngFor="let project of projectsFilter">
        <app-proyecto-mas class="mas_Proyecto" [iliminacion]="iliminacion" (regresarEvent)="proyectoSelect = $event"
            [ngClass]="{'inMas': proyectoSelect == project.showNumber, 'outMas': proyectoSelect != project.showNumber}"
            [nombreProyecto]="project.moreProject.name" [descripcionBreve]="project.moreProject.shortDescription"
            [descripcionProyecto]="project.moreProject.description" [lenguajes]="project.moreProject.technologies"
            [img]="project.img" [link]="project.link" [linkGithub]="project.linkGitHub"></app-proyecto-mas>
    </div>

</div>