<div class="contendor">
    <h2 class="titulo">web developer portafolio</h2>
    <hr class="hr1">
    <h5 class="textoP">Estos proyectos fueron programados con diferentes lenguajes desde HTML, CSS, TypeScript y
        JavaScript para el
        FrontEnd, con peticiones HTTP a API'S creadas con Laravel.<br>
        Como tambien con lenguajes como PHP y MYSQL para el BackEnd.<br>
        Para estos proyectos se usaron los FrameWorks de Laravel para el BackEnd y Angular para el FrontEnd.
    </h5>
    <hr class="hr2">

    <div class="proyectos row row-cols-2 row-cols-lg-2"
        [ngClass]="{'inMas': proyectoSelect == 0, 'outMas': proyectoSelect != 0}">

        <!-- Proyecto Salas -->
        <div class="proyecto col">
            <img src="assets/Proyecto_Salas.png" class="imagenProyecto" alt="">

            <section [ngClass]="{'abajo': !animaciones, 'proyecto-mas': animaciones}">
                <img src="assets/Proyecto_Salas.png" class="imagenBN" alt="">
            </section>

            <section [ngClass]="{'abajo': !animaciones, 'lenguajes': animaciones}">
                <h1 class="tituloProyecto">ADMINISTADOR DE SALAS</h1>

                <div class="botones">
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">HTML5</span></a>
                        <a class="btn"><span class="hoverCursor">CSS3</span></a>
                        <a class="btn"><span class="hoverCursor">TypeScript</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">PHP</span></a>
                        <a class="btn"><span class="hoverCursor">MSYQL</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">Angular</span></a>
                        <a class="btn"><span class="hoverCursor">Laravel</span></a>
                    </div>
                </div>

                <div class="link-proyecto">
                    <a href="https://carlosjaramillotinajero.github.io/angularSalas/" target="_blank" class="btn"><span
                            class="hoverCursor">Visitar</span></a>
                </div>

                <div class="mas-proyecto">
                    <a class="btn" (click)="verProyecto(1)"><span class="hoverCursor">Mas...</span></a>
                </div>

            </section>
        </div>

        <!-- Proyecto Peliculas -->
        <div class="proyecto col">
            <img src="assets/Proyecto_Peliculas.png" class="imagenProyecto" alt="">

            <section [ngClass]="{'abajo': !animaciones, 'proyecto-mas': animaciones}">
                <img src="assets/Proyecto_Peliculas.png" class="imagenBN" alt="">
            </section>

            <section [ngClass]="{'abajo': !animaciones, 'lenguajes hoverCursor': animaciones}">
                <h1 class="tituloProyecto">SITIO DE PELICULAS</h1>

                <div class="botones">
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">HTML5</span></a>
                        <a class="btn"><span class="hoverCursor">CSS3</span></a>
                        <a class="btn"><span class="hoverCursor">JavaScript</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">PHP</span></a>
                        <a class="btn"><span class="hoverCursor">MSYQL</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <!-- <a class="btn"><span class="hoverCursor">Angular</span></a> -->
                        <a class="btn"><span class="hoverCursor">Laravel</span></a>
                    </div>
                </div>
                <div class="link-proyecto">
                    <a href="http://carlosjaramillo.peliculas.beauty/" target="_blank" class="btn"><span
                            class="hoverCursor">Visitar</span></a>
                </div>

                <div class="mas-proyecto">
                    <a class="btn" (click)="verProyecto(2)"><span class="hoverCursor">Mas...</span></a>
                </div>
            </section>

        </div>

        <!-- Proyecto portafolio -->
        <div class="proyecto col">
            <img src="assets/portafolio.png" class="imagenProyecto" alt="">

            <section [ngClass]="{'abajo': !animaciones, 'proyecto-mas': animaciones}">
                <img src="assets/portafolio.png" class="imagenBN" alt="">
            </section>

            <section [ngClass]="{'abajo': !animaciones, 'lenguajes hoverCursor': animaciones}">
                <h1 class="tituloProyecto">PORTAFOLIO</h1>

                <div class="botones">
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">HTML5</span></a>
                        <a class="btn"><span class="hoverCursor">CSS3</span></a>
                        <a class="btn"><span class="hoverCursor">JavaScript</span></a>
                        <a class="btn"><span class="hoverCursor">TypeScript</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">PHP</span></a>
                        <a class="btn"><span class="hoverCursor">MSYQL</span></a>
                    </div>
                    <div class="d-flex justify-content-center tr">
                        <a class="btn"><span class="hoverCursor">Angular</span></a>
                        <a class="btn"><span class="hoverCursor">Laravel</span></a>
                    </div>
                </div>
                <div class="mas-proyecto">
                    <a class="btn" (click)="verProyecto(3)"><span class="hoverCursor">Mas...</span></a>
                </div>
            </section>

        </div>

    </div>

    <app-proyecto-mas class="mas_Proyecto" (regresarEvent)="proyectoSelect = $event"
        [ngClass]="{'inMas': proyectoSelect == 1, 'outMas': proyectoSelect != 1}"
        nombreProyecto="Administracion de reservas de salas"
        descripcionBreve="Este proyecto crea y organiza reservas para diferentes salas."
        descripcionProyecto="Este proyecto fue realizado con Angular un FrameWork de FrontEnd, con el que 
        mostramos todo el contenido que recibimos con peticiones HTTP de una API craeda con Laravel.
        Con este proyecto tenemos un CRUD de salas con las que podemos agendar reservas con ayuda de otro CRUD para las rervas"
        [lenguajes]="['HTML5', 'CSS3', 'TypeScript', 'PHP', 'MYSQL', 'Laravel', 'Angular']"
        img="assets/Proyecto_Salas.png" link="https://carlosjaramillotinajero.github.io/angularSalas/"
        linkGithub="https://github.com/CarlosJaramilloTinajero/angularSalas"></app-proyecto-mas>

    <app-proyecto-mas class="mas_Proyecto" (regresarEvent)="proyectoSelect = $event"
        [ngClass]="{'inMas': proyectoSelect == 2, 'outMas': proyectoSelect != 2}" nombreProyecto="Sitio de peliculas"
        descripcionBreve="Este proyecto simula el comportamiento de un sitio de peliculas como Star+."
        descripcionProyecto="Este proyecto fue echo con laravel usando la libreria de BootStrap para los estilos.
        Tambien muestra un catalogo de peliculas con las cuales se puede ver un video de YouTube ya sea el trailer o un resumen de cada pelicula,
        cada pelicula tiene su categoria para poder separalas entre si.
        Este proyecto cuenta con un CRUD de peliculas y de categorias el cual solo se puede usar si se inicia sesion con la cuenta administrador.
        Cuenta con un sistema de login y de registro de usuarios, cada usuario puede modificar su usario ya sea con la foto de perfil o tambien la lista de peliculas para ver despues.
        Este sitio tambien es reponsivo, por lo que el contenido se puede ver tanto en celulares como en una laptop."
        [lenguajes]="['HTML5', 'CSS3', 'JavaScript', 'PHP', 'MYSQL', 'Laravel']" img="assets/Proyecto_Peliculas.png"
        link="http://carlosjaramillo.peliculas.beauty"
        linkGithub="https://github.com/CarlosJaramilloTinajero/PeliculasLaravel"></app-proyecto-mas>

    <app-proyecto-mas class="mas_Proyecto" (regresarEvent)="proyectoSelect = $event"
        [ngClass]="{'inMas': proyectoSelect == 3, 'outMas': proyectoSelect != 3}" nombreProyecto="Portafolio"
        descripcionBreve="Este proyecto muestra una breve descripcion mia y muestra mis habilidades y proyectos en el desarrollo web"
        descripcionProyecto="En este proyecto muuestro un poco de mis habilidades en el desarrollo web.Tambien muestro un portafolio 
        donde estan algunos de los proyectos que eh echo con diferentes lenguajes y FrameWork de BackEnd y FrontEnd"
        [lenguajes]="['HTML5', 'CSS3', 'JavaScript', 'TypeScript', 'PHP', 'MYSQL', 'Laravel', 'Angular']"
        img="assets/portafolio.png" 
        link="https://carlosjaramillotinajero.github.io/Portafolio/" 
        linkGithub="https://github.com/CarlosJaramilloTinajero/Portafolio"></app-proyecto-mas>
</div>