@media screen and (min-width:500px) {
    .navbarA {
        display: flex;
        padding: 5px;
        padding-top: 10px;
        width: 100%;
        justify-content: end;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(10px);
        height: 50px;
    }

    .navLinkA svg {
        width: 24px;
        height: 24px;
    }

    .navLinkA {
        padding: 5px 12px;
        list-style: none;
        margin-right: 40px;
        color: rgb(255, 255, 255, 0.6);
        font-size: 17px;
        transition: color .2s ease-in-out, transform .2s ease-in-out, scale .2s ease-in-out;
        position: relative;
        display: flex;
    }
}

@media screen and (max-width:500px) {
    .navbarA {
        display: flex;
        justify-content: center;
        padding: 5px;
        padding-top: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(10px);
        height: 50px;
    }

    .navLinkA:last-child {
        margin-right: 0px;
    }

    .navLinkA:first-child {
        margin-left: 0px;
    }

    .navLinkA svg {
        width: 26px;
        height: 26px;
    }

    .navLinkA {
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        list-style: none;
        margin-right: 25px;
        color: rgb(255, 255, 255, 0.6);
        font-size: 17.5px;
        transition: all .4s ease-in-out;
        position: relative;
        border-radius: 3px;
        display: flex;
    }
}

.navLinkA span {
    opacity: .75;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}

.navbarA span {
    margin-left: 8px;
}

.navLinkA:hover .foot {
    width: 100%;
    opacity: 1;
}

.navLinkA .foot {
    width: 0;
    height: 2px;
    opacity: .2;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 15px;
    transition: width .5s ease-in-out, opacity .5s ease-in-out;
}

.navLinkA:hover {
    color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

.selected {
    scale: 1.1;
    color: rgba(255, 255, 255, 1);
    transform: translateY(-5px);
    text-shadow: 0 0 10px rgba(255, 255, 255, .7), -2px 2px 0px rgba(0, 0, 0, 1);
}

.selected:hover {
    scale: 1.1;
    color: rgba(255, 255, 255, 1);
    transform: translateY(-5px);
}


.selected .foot2 {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 15px;
    transition: all 1s ease-in-out;
    margin-top: 5px;
}