<ul class="navbarA fixed-top">
    <li *ngIf="habilitarMensajes" class="navLinkA hoverCursor" (click)="cambiarSelect(4)"
        [ngClass]="{'selected': selected == 4}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check-fill"
            viewBox="0 0 16 16">
            <path
                d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z" />
            <path
                d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
        </svg><span class="hoverCursor d-none d-md-block">Mensajes</span>
        <footer class="hoverCursor" [ngClass]="{'foot': selected !=4, 'foot2': selected==4}"></footer>
    </li>
    <li class="navLinkA hoverCursor" (click)="cambiarSelect(0)" [ngClass]="{'selected': selected == 0}">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-house-fill"
            viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
        </svg><span class="hoverCursor d-none d-md-block">Inicio</span>
        <footer class="hoverCursor" [ngClass]="{'foot': selected !=0, 'foot2': selected==0}"></footer>
    </li>
    <li class="navLinkA hoverCursor" (click)="cambiarSelect(1)" [ngClass]="{'selected': selected == 1}">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-briefcase-fill"
            viewBox="0 0 16 16">
            <path
                d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z" />
            <path
                d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
        </svg><span class="hoverCursor d-none d-md-block">Portafolio</span>
        <footer class="hoverCursor" [ngClass]="{'foot': selected !=1, 'foot2': selected==1}"></footer>
    </li>
    <!-- <li class="navLinkA hoverCursor" (click)="cambiarSelect(2)" [ngClass]="{'selected': selected == 2}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-code-fill"
            viewBox="0 0 16 16">
            <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z" />
        </svg><span class="hoverCursor d-none d-md-block">Skils</span>
        <footer class="hoverCursor" [ngClass]="{'foot': selected !=2, 'foot2': selected==2}"></footer>
    </li> -->
    <li class="navLinkA hoverCursor" (click)="cambiarSelect(3)" [ngClass]="{'selected': selected == 3}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
        </svg><span class="hoverCursor d-none d-md-block">Contacto</span>
        <footer class="hoverCursor" [ngClass]="{'foot': selected !=3, 'foot2': selected==3}"></footer>
    </li>
</ul>