<app-navbar class="contact" [ngClass]="{'hidden': !mostrarNavbar, 'show': mostrarNavbar}"
    (selectedEvent)="cambiarContenido($event)" [selected]="selected" (selectedAntEvent)="selectedAnt = $event">
</app-navbar>

<div class="circulo d-none d-sm-block" id="puntero" [ngClass]="{'hidden': !mostrarNavbar, 'show': mostrarNavbar}">
    <img src="assets/circulo.png" style="width: 100%; height: 100%;" alt="">
</div>

<section class="seccion">

    <app-inicio class="inicio" (mostrarNavbar)="mostrarNavbar = $event" (selectdContact)="cambiarContenido($event)"
        [ngClass]="{'In': selected==0, 'Out': selected!=0, 'marginOut': esconder != 0}"></app-inicio>

    <app-portafolio class="inicio" [animaciones]="animacionesHabiitar"
        [ngClass]="{'In': selected==1, 'Out': selected!=1, 'marginOut': esconder != 1}">
    </app-portafolio>
    <app-contacto class="inicio" [ngClass]="{'In': selected==3, 'Out': selected!=3, 'marginOut': esconder != 3 }">
    </app-contacto>

</section>