.inicio {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    /* opacity: 0; */
    transition: all 2.5s ease-in-out;
}

.selectDiv {
    display: flex;
    width: max-content;
}

.selectDiv label {
    margin-left: 10px;
}

.selectDiv select {
    width: 45px;
    background-color: unset;
    color: white;
    border: unset;
}

.selectDiv select option {
    color: black;
}

.opacity_0 {
    opacity: 0;
}

.configuracion {
    left: 10px;
    bottom: 5px;
}

.circulos {
    position: fixed;
    transition: all 2s ease-in-out;
}

.cerrar {
    width: max-content;
    background-color: #5b6666;
    border: 2px #373a3a solid;
    border-bottom: 5px #373a3a solid;
    transition: all .4s ease-in-out;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px;
}

.cerrar svg {
    width: 0;
    height: 0;
    transition: all .3s ease-in-out;
    fill: white;
}

.cerrar:hover svg {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.cerrar span {
    color: white;
}

.modal-content {
    background-color: unset;
}

.modal-content .modal-title {
    color: rgb(255, 255, 255, 0.9);
    font-size: 23px;
    font-weight: 700;
}

.modal-content label {
    color: rgb(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 400;
}

.margin {
    margin-left: 10px;
    margin-bottom: 18px;
}

.margin:last-child {
    margin-bottom: 0px;
}

.contenedorModal {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

hr {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.configuracion svg {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255, 0.7);
}

.circulo {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 5px;
    height: 5px;
    /* transition: all .1s linear; */
}

.imagen {
    width: 100%;
    height: 100%;
}

.Out {
    opacity: 0;
    scale: .6;
}

.marginOut {
    margin-top: -1800px;
}

.In {
    opacity: 1;
    top: 0;

}

.OutLeft {
    margin-left: -100%;
    opacity: 0;
    width: 0px;
}


.OutRigth {
    margin-left: 110%;
    width: 0px;
    opacity: 0;
}


@media screen and (min-width:980px) {
    .seccion {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 500px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width:980px) {
    .seccion {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 680px;
        margin-right: auto;
        margin-left: auto;
    }
}