.inicio {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    /* opacity: 0; */
    transition: all 2.5s ease-in-out;
}

.opacity_0 {
    opacity: 0;
}

.circulos {
    position: fixed;
    transition: all 2s ease-in-out;
}

.btn1 svg {
    width: 18;
    height: 18;
    margin-right: 10px;
    fill: white;
}

.btn1 span {
    color: white;
}

.contenedorModal {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

hr {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
}

.circulo {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 5px;
    height: 5px;
    transition: all .5 linear;
}

.imagen {
    width: 100%;
    height: 100%;
}

.Out {
    opacity: 0;
    scale: .6;
}

.marginOut {
    margin-top: -1800px;
}

.In {
    opacity: 1;
    top: 0;

}

.OutLeft {
    margin-left: -100%;
    opacity: 0;
    width: 0px;
}


.OutRigth {
    margin-left: 110%;
    width: 0px;
    opacity: 0;
}

.configuracion {
    z-index: 100;
    left: 10px;
    bottom: 5px;
}

.configuracion svg {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255, 0.7);
}

.configuracion svg:hover,
svg:target {
    animation: girarSVG 1.5s linear infinite;
}

.girarSVGClass {
    animation: girarSVG 1.5s linear infinite;
}

@keyframes girarSVG {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.puntoI {
    position: absolute;
    z-index: 102;
    background-color: white;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 35px;
    border-radius: 6px;
    transform: translateY(-35px);

    -webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);
}

.z-index_0 {
    z-index: -99;
}

.navBarC {
    position: absolute;
    z-index: 100;
}

.puntoV {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 102;
    width: 150px;
    height: 150px;
}

.pv {
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 50%;
}

@keyframes girarPV {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.fondoIncio {
    transition: all 3.5s linear;
    top: 0;
    left: 0;
    z-index: 101;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    background-size: 100%;
    /* filter: blur(10px); */
}


@media screen and (min-width:980px) {
    .seccion {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 500px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width:980px) {
    .seccion {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 680px;
        margin-right: auto;
        margin-left: auto;
    }
}