<div *ngIf="select == 2 || retraso == 2" class="contenedor">

    <h1 class="tilte-page" [ngClass]="{'txtShadowBlancoSm': iluminacion}">Presentación de mis habilidades en el
        desarrollo Web</h1>
    <hr class="hr1 hrcenter">

    <p class="description-page" [ngClass]="{'txtShadowBlancoSm': iluminacion}">En este apartado, presentaré una
        selección de mis habilidades en lenguajes y frameworks, abarcando tanto el desarrollo de frontend como de
        backend. En el ámbito del frontend, tengo experiencia sólida en lenguajes clave como <a
            [href]="'#' + tecnologyTitle[3]" class="text-resalt"
            (click)="showText(tecnologyText[3].length, tecnologyTitle[3])">JavaScript</a>,
        <a [href]="'#' + tecnologyTitle[4]" class="text-resalt"
            (click)="showText(tecnologyText[4].length, tecnologyTitle[4])">CSS</a>, <a [href]="'#' + tecnologyTitle[5]"
            class="text-resalt" (click)="showText(tecnologyText[5].length, tecnologyTitle[5])">HTML</a> y
        <a [href]="'#' + tecnologyTitle[6]" class="text-resalt"
            (click)="showText(tecnologyText[6].length, tecnologyTitle[6])">TypeScript</a>,
        mientras que en el backend, mi dominio abarca <a [href]="'#' + tecnologyTitle[2]" class="text-resalt"
            (click)="showText(tecnologyText[2].length, tecnologyTitle[2])">PHP</a> y <a [href]="'#'"
            class="text-resalt">SQL</a>,
        fundamentales para la gestión eficiente de
        datos y lógica del servidor.
        <br>
        Destaco en la implementación de frameworks potentes como <a [href]="'#' + tecnologyTitle[1]" class="text-resalt"
            (click)="showText(tecnologyText[1].length, tecnologyTitle[1])">Vue</a> y <a [href]="'#' + tecnologyTitle[7]"
            class="text-resalt" (click)="showText(tecnologyText[7].length, tecnologyTitle[7])">Angular</a>
        para el
        desarrollo ágil y estructurado de
        interfaces de usuario interactivas y dinámicas. En el caso del backend, mi destreza se concentra en <a
            [href]="'#' + tecnologyTitle[0]" class="text-resalt"
            (click)="showText(tecnologyText[0].length, tecnologyTitle[0])">Laravel</a>, donde
        aplico
        técnicas
        avanzadas y
        prácticas óptimas para construir
        aplicaciones seguras, escalables y de alto rendimiento, ofreciendo soluciones integrales en entornos
        complejos y diversos de desarrollo de software.
    </p>
    <hr>

    <div class="mb-5">
        <div class="skills-text" data-aos="fade-up" [id]="tecnologyTitle[z]"
            *ngFor="let textTecnology of tecnologyText; let z = index">
            <p class="title">
                <span (mouseleave)="hiddeText()"
                    (mouseover)="showText(textTecnology.length, tecnologyTitle[z])">{{tecnologyTitle[z]}}
                </span>
                <span class="text-info">
                    <span *ngFor="let item of textTecnology; let i = index">
                        <span class="word"
                            [ngClass]="{'show': showNumberWord > i && text === tecnologyTitle[z], 'opacity-25': showNumberWord <= i || text !== tecnologyTitle[z]}">{{item}}</span>
                    </span>
                </span>
            </p>
        </div>
    </div>
</div>