::-webkit-scrollbar {
    display: none;
}

*:hover,
:focus,
:active {
    cursor: url("assets/cursorNoHover.png"), auto;
}

.hoverCursor,
.hoverCursor:hover {
    cursor: url("assets/cursorHover.png"), auto;
}

.noHoverCursor,
.noHoverCursor:hover {
    cursor: url("assets/cursorNoHover.png"), auto;
}

.btn,
.btn:hover,
.btn:focus {
    cursor: url("assets/cursorHover.png"), auto;
}

.opacity_10D {
    opacity: .10;
    transition: all 1s linear;
}

.opacity_10 {
    opacity: .10;
    transition: all .1s linear;
}

.opacity_85 {
    opacity: .75;
    transition: all .1s linear;
}

.opacity_65 {
    opacity: .65;
    transition: all .1s linear;
}

.opacity_100D {
    opacity: 1;
}

.opacity_100 {
    transition: all 1s ease-in-out;
    opacity: 1;
}

.hr1 {
    width: 40%;
}

.hr2 {
    width: 70%;
}

.hrcenter {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: black;
    /* background: rgb(186, 210, 237); */
    /* background: linear-gradient(90deg, rgba(186, 210, 237, 0.8827906162464986) 10px, rgba(52, 57, 62, 0.87718837535014) 100px, rgba(0, 0, 0, 1) 200px); */
    /* background: rgb(186, 210, 237); */
    /* background: radial-gradient(circle at 100vw 100vh, rgba(186, 210, 237, 0.8827906162464986) 20px, rgba(52, 57, 62, 0.87718837535014) 150px, rgba(0, 0, 0, 1) 250px); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* height: 100vh; */
    cursor: url("assets/cursorNoHover.png"), auto;
}

.txtShadowBlancoSm {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.45);
}

.txtShadowBlancoMd {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 11px rgba(255, 255, 255, 0.3)
}

.txtShadowBlancoLg {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4);
}

.btn {
    background-color: unset;
    border: none;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px;
}

.btn1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all .5s ease-in-out;
    border-bottom: 3px rgba(255, 255, 255, 0.8) solid;
    position: relative;
}

.btn1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.479), rgba(255, 255, 255, 0.521), rgba(255, 255, 255, 0.342), rgba(255, 255, 255, 0.178), rgba(255, 255, 255, 0.089));
    background-size: 160%;
    border-radius: 10px;
    filter: blur(10px);
    /* animation: btn 17s linear infinite; */
}

.btn2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all .5s ease-in-out;
    border-bottom: 3px #308888 solid;
    position: relative;
}

.btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            #308888, #308888c9, #3088889c, rgba(48, 136, 136, 0.582), #308888b7, #308888d3, #308888);
    background-size: 160%;
    border-radius: 10px;
    filter: blur(10px);
    /* animation: btn 23s linear infinite; */
}

.btn3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all .5s ease-in-out;
    position: relative;
}

/* red, blue, deeppink, blue, red, blue, deeppink, blue */

.btn3::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    width: 85%;
    height: 165%;
    background: linear-gradient(45deg,
            #ffffff, #d6d6d6c9, #bbbbbbc7, rgba(175, 175, 175, 0.897), rgba(255, 255, 255, 0.801), #ffffffd7, #ffffffe1, #f5f5f5);
    background-size: 160%;
    border-radius: 10px;
    filter: blur(10px);
    /* animation: btn 30s linear infinite; */
}

.btn4 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all .5s ease-in-out;
    border-bottom: 3px #18b309 solid;
    position: relative;
}

.btn4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            #18b309, #17b309d8, #17b309b0, #17b30996, #17b309c7, #17b309d3, #17b309e3, #18b309);
    background-size: 160%;
    border-radius: 10px;
    filter: blur(10px);
}

.btn5 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: all .5s ease-in-out;
    border-bottom: 3px #b30909 solid;
    position: relative;
}

.btn5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            #b30909, #b30909d0, #b30909a2, #b309098a, #b30909b2, #b30909d3, #b30909dc, #b30909);
    background-size: 160%;
    border-radius: 10px;
    filter: blur(10px);
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover {
    scale: .95;
    opacity: .75;
}

.btn1 span,
.btn2 span,
.btn2,
.btn3 span,
.btn4 span,
.btn5 span {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3), 0 0 4px rgba(255, 255, 255, 0.3);
}

.btn1 svg,
.btn2 svg,
.btn3 svg,
.btn4 svg,
.btn5 svg {
    margin-right: 8px;
    fill: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 5px rgba(255, 255, 255, 0.4);
}

.modal-content {
    background-color: unset;
}

.modal-content .modal-title {
    color: rgb(255, 255, 255, 0.9);
    font-size: 23px;
    font-weight: 700;
}

.modal-content label {
    color: rgb(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 400;
}

.margin {
    margin-left: 10px;
    margin-bottom: 18px;
}

.margin:last-child {
    margin-bottom: 0px;
}

.selectDiv {
    display: flex;
    width: max-content;
}

.selectDiv label {
    margin-left: 10px;
}

.selectDiv select {
    width: max-content;
    background-color: unset;
    color: white;
    border: unset;
}

.selectDiv select option {
    color: black;
}

@keyframes btn {
    0% {
        background-position: 0, 0;
    }

    50% {
        background-position: 400%, 0;
    }

    100% {
        background-position: 0, 0;
    }
}

hr {
    visibility: visible;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.placeHolder {
    position: absolute;
    transition: all .2s linear;
    top: 6px;
    left: 10px;
    scale: .9;
    opacity: .5;
    z-index: 99;
}

.placeHolderArriba {
    transition: all .2s linear;
    position: absolute;
    top: -23px;
    opacity: 1;
    scale: 1;
    left: 0;
}

textarea {
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
    background-color: unset;
    border: 1px rgba(255, 255, 255, 0.49) solid !important;
    border-radius: 2px !important;
    box-shadow: -5px 5px 3px rgba(175, 175, 175, 0.897);
    position: relative;
    z-index: 100;
}

textarea:focus,
textarea:target {
    border: unset !important;
    background-color: unset !important;
    border-radius: 2px !important;
    margin-bottom: 2px;
}

.area {
    width: 100%;
}

input[type='text'] {
    color: white;
    border-radius: 2px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.3);
    background-color: unset;
    border: 1px rgba(255, 255, 255, 0.49) solid !important;
    box-shadow: -5px 5px 3px rgba(175, 175, 175, 0.897);
    position: relative;
    z-index: 100;
}

input[type='text']:focus,
input[type='text']:target {
    color: white;
    background-color: unset !important;
    border-radius: 2px !important;
    border: 1px rgba(255, 255, 255, 0.49) solid !important;
    box-shadow: -5px 5px 3px rgba(175, 175, 175, 0.897) !important;

}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    transform: scale(.95);
    opacity: .7;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.contact {
    /* transition: all 3.5s ease-in-out; */
    opacity: 0;
}

.tranS {
    transition: all 3.5s ease-in-out;
}