::-webkit-scrollbar {
    /* width: 5px; */
    display: none;
}

/* ::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgb(255, 255, 255, 0.3);
} */

*:hover,
:focus,
:active {
    cursor: url("assets/cursorNoHover.png"), auto;
}

.hoverCursor,
.hoverCursor:hover {
    cursor: url("assets/cursorHover.png"), auto;

}

.btn,
.btn:hover,
.btn:focus {
    cursor: url("assets/cursorHover.png"), auto;
}

body {
    background-color: black;
    cursor: url("assets/cursorNoHover.png"), auto;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.contact {
    transition: all 3.5s ease-in-out;
    /* opacity: 0; */
}