::-webkit-scrollbar {
    /* width: 5px; */
    display: none;
}

/* ::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgb(255, 255, 255, 0.3);
} */

*:hover,
:focus,
:active {
    cursor: url("assets/cursorNoHover.png"), auto;
}

.hoverCursor,
.hoverCursor:hover {
    cursor: url("assets/cursorHover.png"), auto;
}

.btn,
.btn:hover,
.btn:focus {
    cursor: url("assets/cursorHover.png"), auto;
}

body {
    background-color: black;
    /* background: rgb(186, 210, 237); */
    /* background: linear-gradient(90deg, rgba(186, 210, 237, 0.8827906162464986) 10px, rgba(52, 57, 62, 0.87718837535014) 100px, rgba(0, 0, 0, 1) 200px); */
    /* background: rgb(186, 210, 237); */
    /* background: radial-gradient(circle at 100vw 100vh, rgba(186, 210, 237, 0.8827906162464986) 20px, rgba(52, 57, 62, 0.87718837535014) 150px, rgba(0, 0, 0, 1) 250px); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* height: 100vh; */
    cursor: url("assets/cursorNoHover.png"), auto;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

.contact {
    transition: all 3.5s ease-in-out;
    /* opacity: 0; */
}