<div *ngIf="select == 5 || retraso == 5" class="contenedor">
    <h1 class="tilte-page" [ngClass]="{'txtShadowBlancoSm': iluminacion}">Experiencia profesional como programador</h1>
    <hr class="hr1 hrcenter">
    <p class="description-page" [ngClass]="{'txtShadowBlancoSm': iluminacion}">¡Bienvenido! En esta sección encontrarás
        un listado de las empresas donde he tenido la
        oportunidad de trabajar
        como programador, aportando mis habilidades tanto en el diseño de proyectos como en la creación de módulos
        personalizados. Durante mi trayectoria, he estado involucrado tanto en el Backend como en el Frontend de
        diversos proyectos, lo que me ha brindado una amplia experiencia en diferentes áreas de desarrollo. A través de
        este portafolio, me complace compartir contigo mis logros y contribuciones en cada una de estas empresas. </p>
    <hr>
    <div class="jobs-experiences">

        <div class="in-out-job w-100" [ngClass]="{'out-job' : jobSelected != 0, 'in-job': jobSelected == 0}">
            <div class="experiences-container row">
                <div class="col col-1 col-md-2">
                    <div *ngFor="let item of jobs" [ngClass]="item.className" class="experience-container">
                        <p class="tilte-experience">{{ item.title }}</p>
                        <p class="time-experience">{{ item.timeExperience }}</p>
                        <p class="job-position-experience">{{ item.positionExperience }}</p>
                        <a class="btn-experience" (click)="selectJob(item.jobSelect)">Ver...</a>
                        <div class="image-experience">
                            <img [src]="item.logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let item of jobs" class="job-experience in-out-job"
            [ngClass]="{'out-job' : jobSelected != item.jobSelect, 'in-job' : jobSelected == item.jobSelect}">
            <div class="mt-3 mb-2 d-flex justify-content-end">
                <a class="btn btn1 btn-return hoverCursor" (click)="return()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                        class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                        <path fill-rule="white"
                            d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                        <path fill-rule="evenodd"
                            d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg><span class="hoverCursor">Regresar</span>
                </a>
            </div>

            <p [ngClass]="{'txtShadowBlancoSm': iluminacion}" class="title" style="color: rgb(232, 73, 0) !important;">
                <span class="company">{{ item.title }}</span> <span class="link-company ms-2"><a
                        [href]="item.urlCompany" target="_blank" (click)="clickVisitJob(item.title)">Visitar</a></span>
                <br>
                <span class="date-experience">{{ item.timeExperience }}</span>
            </p>
            <p [ngClass]="{'txtShadowBlancoSm': iluminacion}" class="text-experience">
                <span *ngFor="let letter of item.textExperience">
                    <span *ngIf="letter != '*'">{{ letter }}</span>
                    <br *ngIf="letter == '*'">
                </span>
            </p>
        </div>
    </div>
</div>